html {
   height: 100%;
}

body {
   margin-top: -50px;
   height: 100%;
   background-image: linear-gradient(154deg,
         hsla(182.09, 100%, 45.1%, 0.72) 0%,
         hsla(182.06, 82.06%, 49.34%, 0.721) 13.4%,
         hsla(181.47, 76.16%, 53.05%, 0.723) 24.7%,
         hsla(180.13, 70.73%, 56.24%, 0.727) 34%,
         hsla(177.8, 67.68%, 59.95%, 0.732) 41.8%,
         hsla(174.21, 64.55%, 63.5%, 0.738) 48.1%,
         hsla(168.92, 61.03%, 66.8%, 0.745) 53.5%,
         hsla(161.36, 57.09%, 69.84%, 0.752) 58%,
         hsla(150.67, 52.75%, 72.61%, 0.758) 62.1%,
         hsla(135.72, 48.03%, 75.1%, 0.765) 66%,
         hsla(115.44, 44.99%, 76.48%, 0.772) 69.9%,
         hsla(98.77, 48.64%, 74.8%, 0.778) 74.1%,
         hsla(87.96, 51.52%, 73.31%, 0.783) 78.9%,
         hsla(81.16, 53.63%, 72.09%, 0.787) 84.7%,
         hsla(77.35, 54.95%, 71.28%, 0.789) 91.6%,
         hsla(76.1, 55.41%, 70.98%, 0.79) 100%)
}

;

#main-div {
   border-radius: 50px;

}

#plus-column {
   width: 40%;
}

#minus-column {
   width: 40%;
}

#counter-value {
   border-radius: 5px;
   opacity: 0.9;
}

#minus-button {
   opacity: 0.9;
}

#plus-button {
   opacity: 0.9;
}

#reset-button {
   opacity: 0.9;
}

#reset-column {
   width: 40%;
}